.div-form{
  width: 100%;
  display: flex;
  justify-content:  center;
}
.container-form {
  width: 40%;
  margin-top: 20px;
  border-radius: 5px;
  background-color:  #5d5f63;
  padding: 20px;
}

.loading {
  text-align: center;
  font-size: 40px;
  color: rgb(98, 146, 235);
}

.error {
  text-align: center;
  font-size: 40px;
  color: rgb(92, 17, 17);

}

.App {
  text-align:start;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 padding: 5%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}